//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9
//Part Number: GW5A-LV25UG324ES
//Device: GW5A-25
//Device Version: A
//Created Time: Fri 11 07 00:10:53 2025

IO_LOC "pllout" V15;
IO_PORT "pllout" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "txctl" C2;
IO_PORT "txctl" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "txclk" C1;
IO_PORT "txclk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[9]" F14;
IO_PORT "dapin[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[8]" G14;
IO_PORT "dapin[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[7]" D17;
IO_PORT "dapin[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[6]" D18;
IO_PORT "dapin[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[5]" G16;
IO_PORT "dapin[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[4]" G18;
IO_PORT "dapin[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[3]" F17;
IO_PORT "dapin[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[2]" F18;
IO_PORT "dapin[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[1]" H13;
IO_PORT "dapin[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dapin[0]" H14;
IO_PORT "dapin[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adcoe" V11;
IO_PORT "adcoe" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dacclk" C17;
IO_PORT "dacclk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adcclk" U11;
IO_PORT "adcclk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "txd[3]" F1;
IO_PORT "txd[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "txd[2]" F2;
IO_PORT "txd[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "txd[1]" D1;
IO_PORT "txd[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "txd[0]" D2;
IO_PORT "txd[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[3]" A9;
IO_PORT "led[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[2]" B9;
IO_PORT "led[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" C14;
IO_PORT "led[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" D14;
IO_PORT "led[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "shclk" H4;
IO_PORT "shclk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "stclk" F3;
IO_PORT "stclk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ds" F4;
IO_PORT "ds" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rxctl" E1;
IO_PORT "rxctl" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rxclk" L5;
IO_PORT "rxclk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[9]" P15;
IO_PORT "adpin[9]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[8]" P16;
IO_PORT "adpin[8]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[7]" P17;
IO_PORT "adpin[7]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[6]" P18;
IO_PORT "adpin[6]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[5]" N17;
IO_PORT "adpin[5]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[4]" N18;
IO_PORT "adpin[4]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[3]" L17;
IO_PORT "adpin[3]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[2]" L18;
IO_PORT "adpin[2]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rxd[3]" F5;
IO_PORT "rxd[3]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rxd[2]" F6;
IO_PORT "rxd[2]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rxd[1]" G1;
IO_PORT "rxd[1]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rxd[0]" G3;
IO_PORT "rxd[0]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "key0" B16;
IO_PORT "key0" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "digsig" R11;
IO_PORT "digsig" PULL_MODE=NONE HYSTERESIS=OFF PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "clk50" T9;
IO_PORT "clk50" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[1]" K17;
IO_PORT "adpin[1]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[0]" K18;
IO_PORT "adpin[0]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adcovr" V13;
IO_PORT "adcovr" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "key1" A15;
IO_PORT "key1" PULL_MODE=NONE BANK_VCCIO=3.3;
